<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="page-wrapper">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </div>

  {% include scripts.html %}
  <!-- build:js({app,.tmp}) /js/scripts.js -->
  <script src="/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
