---
layout: default
title: Kickmobl
---

<section class="header-10-sub v-center bg-midnight-blue">
  <div class="background">
    &nbsp;
  </div>
  <div>
    <div class="container">
      <div class="hero-unit">
        <h1>Fund.me</h1>
        <p>
          {% translate header.get_funding_with_your_friends %}
        </p>
      </div>
    </div>
  </div>
  <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

<!-- content-7  -->
<section class="content-7 v-center">
  <div id="fund.me">
    <div class="container">
      <h3>Fund.me</h3>

      <div class="row v-center">
        <div class="col-sm-3">
          <div>
            <h6>Get Fund.me</h6>
             {% translate content.easier_way_to_collect_money %}
          </div>
          <div class="store-links">

            <a href="#" target="_blank">
              <img src="https://cdn.flipboard.com/media/uploads/app-store-large.png" alt="Available on the App Store" style="max-height: 42px;">
            </a>
            <a href="#" target="_blank">
              <img src="https://cdn.flipboard.com/media/uploads/google-play-large_3_1.png" alt="Android app on Google Play" style="max-height: 42px;">
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-offset-1">
            <img src="/img/fund.me-iphone.png" alt="Fund.me">
          </div>
        </div>
        <div class="col-sm-3">
          <h6>Together, make private goals happen</h6>
          Fund.me is all about you and your friends sharing an individual goal.

          <h6>{% translate content.get_fundings %}</h6>
          {% translate content.request_money %}

          <h6>{% translate content.pay_with_york_credit_card %}</h6>
          {% translate content.back_your_friends %}
        </div>
      </div>
    </div>
  </div>
</section>
