<!-- footer-3 -->
<footer class="footer-3">
  <div class="container">
    <div class="row v-center">
      <div class="col-sm-2">
        <a class="brand" href="#">kickmobl</a>
      </div>
      <div class="col-sm-10">
        <div class="additional-links">
          {% translate footer.additional-links %} <span class="glyphicon glyphicon-heart"></span> Kickmobl, 2014
        </div>
      </div>
    </div>
  </div>
</footer>
