<!-- header-10 -->
<header class="header-10">
  <div class="container">
    <div class="navbar col-sm-12" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle"></button>
        <a class="brand" href="#">kickmobl</a>
      </div>
      <div class="collapse navbar-collapse pull-right">
        <ul class="nav pull-left">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#fund.me">Fund.me</a></li>
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="#">Contact</a></li>
          <form class="navbar-form pull-left">
              <a class="btn btn-info" href="#">Sign In</a>
          </form>
        </ul>
      </div>
    </div>
  </div>
</header>
