<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="Kickraffler is a personal funding platform for your projects."/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="/vendor/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/css/flat-ui.css">
    <link rel="stylesheet" href="/vendor/css/icon-font.css">
    <link rel="stylesheet" href="/vendor/css/styles.css">

    <!-- end -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

</head>
