<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/modernizr.custom.js"></script>
<script src="/vendor/js/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="/vendor/js/jquery.parallax.min.js"></script>
<script src="/vendor/js/startup-kit.js"></script>
<script src="/vendor/js/jquery.backgroundvideo.min.js"></script>
